In [1]:
from haplogone import read_vcf, process_vcf_baf

In [2]:
female = read_vcf('../../bioinf_semester_project/data/sample_1/gatk_called.vcf')

In [3]:
female = process_vcf_baf(female)

In [5]:
female

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,AC,AF,AN,...,QD,SOR,GT,AD,GQ,PL,BaseQRankSum,MQRankSum,ReadPosRankSum,BAF
0,chr1,69270,rs201219564,A,G,771.06,.,2,1.00,2,...,30.84,6.518,1/1,[25],75,"785,75,0",NaN,NaN,NaN,1.000000
1,chr1,69511,rs75062661,A,G,2265.06,.,2,1.00,2,...,31.46,1.885,1/1,[72],99,"2279,216,0",NaN,NaN,NaN,1.000000
2,chr1,69897,rs200676709,T,C,196.99,.,2,1.00,2,...,24.62,1.447,1/1,[7],14,"211,14,0",1.534,0.157,-0.674,1.000000
3,chr1,601606,rs201936006,G,T,750.64,.,1,0.500,2,...,2.87,0.203,0/1,"[204, 58]",99,"758,0,5107",-1.845,-6.920,-0.494,0.778626
4,chr1,601673,rs202032341,G,A,381.64,.,1,0.500,2,...,4.02,0.420,0/1,"[71, 24]",99,"389,0,1722",-0.786,-2.319,-1.266,0.747368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89326,chrX,156008488,.,C,T,1154.06,.,2,1.00,2,...,31.19,3.556,1/1,[36],81,"1168,81,0",-0.316,0.772,1.737,1.000000
89327,chrX,156009834,.,G,A,69.84,.,2,1.00,2,...,23.28,1.179,1/1,[3],9,"83,9,0",NaN,NaN,NaN,1.000000
89328,chrX,156009937,.,G,A,123.64,.,1,0.500,2,...,1.45,1.828,0/1,"[70, 15]",99,"131,0,1922",1.379,-7.655,-0.395,0.823529
89329,chrX,156010159,.,A,G,4718.04,.,1,0.500,2,...,33.94,0.062,0/1,"[11, 128]",77,"5306,0,77",-1.710,3.740,4.373,0.920863
89330,chrX,156010162,.,A,G,4718.04,.,1,0.500,2,...,33.94,0.062,0/1,"[11, 128]",77,"5306,0,77",-1.626,3.740,4.071,0.920863